<div class="event">
  <div class="content">
    <div class="summary">
      <span class="chatbox-username"><%= message.user.username %>:&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <%= message.body %>
    </div>
  </div>
</div>