@import 'semantic-ui';

.chatbox {
  height: 450px;
}

.chatbox-username {
  color: #4283CA
}

#messages {
  height: 15em;
  // add scrolling to the chatbox
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}